@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Oxygen:wght@700&family=Raleway:wght@500&family=Roboto:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F0EFDE;
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  position: relative;
  width: 100%;
  height: 10%;
  padding: 10px;
  justify-content: flex-end;
}

.barAbout {
  display: flex;
  position: relative;
  width: 65%;
  height: 95%;
  background-color: transparent;
  border-radius: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  float: left;
}

.aboutDiv {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/forest_midle_green.jpg');
}

.aboutMain {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: #3C3240;
  opacity: 0.95;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dAbout {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.pDescription {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
    color: #F0EFDE;
    padding: 10px;
  }

.pExperiencia {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
    color: #483948;
  }

.skillDes {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
    color: #F0EFDE;
    margin: 10px;
    padding: 10px;
  }

.firstTitle, .titleSkill {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    color: #ED413E;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }

.firstAbout {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 45%;
  padding: 10px;
}

.secundExpe {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 33%;
  padding: 10px;
}

.skillBar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 45%;
  padding: 10px;
}

.dimg {
  display: flex;
  position: relative;
  width: 40%;
  height: 65%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  margin-left: 15px;
}

.imgDiv {
  display: flex;
  position: relative;
  width: 90%;
  height: 100%;
  background-color: #F0EFDE; 
  border-top-right-radius: 10px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  align-items: center;
  justify-content: center;
}

.dimagen {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  padding: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/Jackeline_García-remove_v3.jpg');
  border-top-right-radius: 20px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.allSkills {
  display: grid;
  position: relative;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  grid-template-columns: 25% 25% 25% 25%;
}

.aboutDescription {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 40px;
  width: 60%;
  height: 90%;
  margin-left: 10px;
}

.skillDesOne {
  display: flex;
  position: relative;
  background-image: url('../assets/JavaScript-logo.png');
  width: 90%;
  height: 80%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skillDesTwo {
  display: flex;
  position: relative;
  background-image: url('../assets/HTML5.png');
  width: 90%;
  height: 80%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skillDesThree {
  display: flex;
  position: relative;
  background-image: url('../assets/CSS3.png');
  width: 90%;
  height: 80%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skillDesFour {
  display: flex;
  position: relative;
  background-image: url('../assets/angular.png');
  width: 90%;
  height: 80%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skillDesFive {
  display: flex;
  position: relative;
  background-image: url('../assets/typescript_logov2.png');
  width: 90%;
  height: 80%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skillDesSix {
  display: flex;
  position: relative;
  background-image: url('../assets/sass_logo.png');
  width: 90%;
  height: 80%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skillDesSeven {
  display: flex;
  position: relative;
  background-image: url('../assets/git-bash-logo.png');
  width: 90%;
  height: 80%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skillDesEight {
  display: flex;
  position: relative;
  background-image: url('../assets/github.png');
  width: 90%;
  height: 80%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skillDesNine {
  display: flex;
  position: relative;
  background-image: url('../assets/r-free-Download.png');
  width: 90%;
  height: 80%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skillDesTen {
  display: flex;
  position: relative;
  background-image: url('../assets/firebase.png');
  width: 90%;
  height: 80%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skillDesEleven {
  display: flex;
  position: relative;
  background-image: url('../assets/figma-logo.png');
  width: 90%;
  height: 80%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skillDesTwelve {
  display: flex;
  position: relative;
  background-image: url('../assets/nodejs-logo-vector.svg');
  width: 90%;
  height: 70%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFF;
}

@media(max-width: 480px) {

  body {
    background-color: #F0EFDE;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    height: 100vh;
  }

  header {
    display: flex;
    position: relative;
    width: 100%;
    height: 10%;
    padding: 10px;
    background: transparent;
    justify-content: flex-end;
    background-color: #3C3240;
    opacity: 0.9;
  }

  .barAbout {
    display: flex;
    position: relative;
    width: 75%;
    height: 95%;
    background-color: transparent;
    border-radius: 40px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    float: left;
  }

  .aboutMain {
    display: flex;
    position: relative;
    width: 100%;
    height: 90%;
    padding: 10px;
    background-color: #3C3240;
    opacity: 0.95;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bHome, .bAbout, .bProject, .bContact {
    display: flex;
    position: relative;
    height: 90%;
    width: 25%;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 13px;
    margin: 3px;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    color: #F0EFDE;
  }

  .dimg {
    display: flex;
    position: relative;
    width: 70%;
    height: 65%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-left: 0;
  }

  .firstAbout {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 10px;
  }

  .dAbout {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .pDescription {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100%;
    color: #F0EFDE;
    padding: 10px;
    height: 90%;
  }

  .aboutDescription {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
    width: 100%;
    height: 90%;
    margin-left: 0;
  }

  .firstTitle, .titleSkill {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    color: #ED413E;
    width: 100%;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }

  .skillBar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 50%;
    padding: 10px;
  }
  
}