@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Oxygen:wght@700&family=Roboto:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0EFDE;
  font-family: 'Fredoka', sans-serif;
  width: 100vw;
  height: 100vh;
}

header {
    display: flex;
    position: relative;
    width: 100%;
    height: 10%;
    padding: 10px;
    justify-content: flex-end;
  }

.barProject {
  display: flex;
  position: relative;
  width: 65%;
  height: 95%;
  background-color: transparent;
  border-radius: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  float: left;
  }

  .contactDiv {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.contactMain {
    display: flex;
    position: relative;
    margin-top: 30px;
    width: 95%;
    height: 85%;
    padding: 10px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.dContact {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    flex-direction: row;
}

.divInfo {
    display: flex;
    position: relative;
    width: 60%;
    height: 80%;
    margin-left: 40PX;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactImg {
    display: flex;
    position: relative;
    width: 40%;
    height: 60%;
    margin-top: 60px;
    padding: 10px;
    margin-right: 40px;
}

.contactTitle {
    display: flex;
    position: relative;
    padding: 10px;
    font-size: 29px;
    color:#483948;
}

.request {
    display: flex;
    position: relative;
    padding: 10px;
    height: 30%;
    width: 70%;
    font-size: 22px;
    color: #483948;
}

.correo {
  display: flex;
    position: relative;
    padding: 10px;
    height: 15%;
    font-size: 22px;
    color: #ED413E;
}

.ancorLink, .ancorGit {
    display: flex;
    position: relative;
    font-size: 25px;
    padding: 10px;
    color:#483948;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
}

.ancorLink:hover , .ancorGit:hover {
  color: #ED413E;
}




